# Import necessary libraries

In [31]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Step 1️⃣: Send a GET request to the target website

In [41]:
url = "https://books.toscrape.com/"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

#print(soup.prettify())

# Step 2️⃣: Find all book containers

In [33]:
books = soup.find_all("article", class_="product_pod")

# Step 3️⃣: Create empty lists to store data

In [34]:
for book in books:
    title = book.h3.a["title"]  # Book title
    price = book.find("p", class_="price_color").text  # Book price
    link = book.h3.a["href"]  # Book link (relative)
    
    print("Title:", title)
    print("Price:", price)
    print("Link:", link)
    print("-" * 40)
    
    titles_list.append(title)
    prices_list.append(price)
    links_list.append(link)

Title: A Light in the Attic
Price: Â£51.77
Link: catalogue/a-light-in-the-attic_1000/index.html
----------------------------------------
Title: Tipping the Velvet
Price: Â£53.74
Link: catalogue/tipping-the-velvet_999/index.html
----------------------------------------
Title: Soumission
Price: Â£50.10
Link: catalogue/soumission_998/index.html
----------------------------------------
Title: Sharp Objects
Price: Â£47.82
Link: catalogue/sharp-objects_997/index.html
----------------------------------------
Title: Sapiens: A Brief History of Humankind
Price: Â£54.23
Link: catalogue/sapiens-a-brief-history-of-humankind_996/index.html
----------------------------------------
Title: The Requiem Red
Price: Â£22.65
Link: catalogue/the-requiem-red_995/index.html
----------------------------------------
Title: The Dirty Little Secrets of Getting Your Dream Job
Price: Â£33.34
Link: catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html
----------------------------------------
Title: The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull
Price: Â£17.93
Link: catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html
----------------------------------------
Title: The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics
Price: Â£22.60
Link: catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html
----------------------------------------
Title: The Black Maria
Price: Â£52.15
Link: catalogue/the-black-maria_991/index.html
----------------------------------------
Title: Starving Hearts (Triangular Trade Trilogy, #1)
Price: Â£13.99
Link: catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html
----------------------------------------
Title: Shakespeare's Sonnets
Price: Â£20.66
Link: catalogue/shakespeares-sonnets_989/index.html
----------------------------------------
Title: Set Me Free
Price: Â£17.46
Link: catalogue/set-me-free_988/index.html
----------------------------------------
Title: Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)
Price: Â£52.29
Link: catalogue/scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html
----------------------------------------
Title: Rip it Up and Start Again
Price: Â£35.02
Link: catalogue/rip-it-up-and-start-again_986/index.html
----------------------------------------
Title: Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991
Price: Â£57.25
Link: catalogue/our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html
----------------------------------------
Title: Olio
Price: Â£23.88
Link: catalogue/olio_984/index.html
----------------------------------------
Title: Mesaerion: The Best Science Fiction Stories 1800-1849
Price: Â£37.59
Link: catalogue/mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html
----------------------------------------
Title: Libertarianism for Beginners
Price: Â£51.33
Link: catalogue/libertarianism-for-beginners_982/index.html
----------------------------------------
Title: It's Only the Himalayas
Price: Â£45.17
Link: catalogue/its-only-the-himalayas_981/index.html
----------------------------------------

# Step 5️⃣: Create a DataFrame from extracted data

In [35]:
df = pd.DataFrame({
    "Title": titles_list,
    "Price": prices_list,
    "Link": links_list
})

# Step 6️⃣: Preview the first few rows

In [42]:
df.head()

,Title,Price,Link
0,A Light in the Attic,Â£51.77,catalogue/a-light-in-the-attic_1000/index.html
1,Tipping the Velvet,Â£53.74,catalogue/tipping-the-velvet_999/index.html
2,Soumission,Â£50.10,catalogue/soumission_998/index.html
3,Sharp Objects,Â£47.82,catalogue/sharp-objects_997/index.html
4,Sapiens: A Brief History of Humankind,Â£54.23,catalogue/sapiens-a-brief-history-of-humankind...

# Step 7️⃣: Save the data as a CSV file

In [37]:
df.to_csv("books_to_scrape_dataset.csv", index=False)

In [40]:
print("\n✅ Data successfully saved to 'books_to_scrape_dataset.csv'")

✅ Data successfully saved to 'books_to_scrape_dataset.csv'